<div>
	<a href="/tmall/home"><img id="simpleLogo" class="simpleLogo" src="/tmall/img/site/simpleLogo.png"></a>
	<div class="simpleSearchDiv pull-right">
		<input type="text" placeholder="平衡车 原汁机"  value="" name="keyword">
		<button class="searchButton" type="submit">搜天猫</button>
		<!-- <div class="searchBelow">
			<span>
				<a href="forecategory?cid=11111">
					看看是啥
				</a>
				<span>|</span>
				<c:if test="${st.count!=11}">
					<span>|</span>
				</c:if>
			</span>
			<c:forEach items="${cs}" var="c" varStatus="st">
				<c:if test="${st.count>=8 and st.count<=11}">
				<span>
					<a href="forecategory?cid=${c.id}">
							${c.name}
					</a>
					<c:if test="${st.count!=11}">
						<span>|</span>
					</c:if>
				</span>
				</c:if>
			</c:forEach>
		</div> -->
	</div>
	<div style="clear:both"></div>
</div>