<nav class="top ">
	<a href="/mall/index">
		<span style="color:#C40000;margin:0px" class="glyphicon glyphicon-home redColor"></span>
		天猫首页
	</a>
	<input type="hidden" id="userId" th:value="${session.userId}"/>
	<span>喵，欢迎来天猫</span>
	<span th:if="${session.userId} == null">
		<a href="/shopping/login">请登录</a>
		<a href="/shopping/register">免费注册</a>
	</span>
	<span th:if="${session.userId} != null">
		<a href="javascript:void(0);" th:text="${session.userName}"></a>
		<a href="/shopping/logout">退出登录</a>
	</span>

	<span class="pull-right">
		<a href="/shopping/indent">我的订单</a>
		<a href="/collection/enter">我的收藏</a>
		<a href="/shoppingCar/enter">
			<span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-shopping-cart redColor"></span>购物车
		</a>
	</span>
</nav>

