<div class="confirmPayPageDiv">
    <input type="hidden" id="indentItemId" th:value="${indentItemId}"/>
    <input type="hidden" id="productId" value=""/>
<!--    <input type="hidden" id="userId" value=""/>-->
    <input type="hidden" id="indentId" value=""/>
    <input type="hidden" id="shopId" value=""/>
    <input type="hidden" id="indentCode" value=""/>
    <div class="confirmPayOrderDetailDiv">
        <table class="confirmPayOrderDetailTable">
            <tr>
                <td>商品名称：</td>
                <td>
                    <span class="productName"></span>
                </td>
            </tr>
            <tr>
                <td>总价：</td>
                <td>
                    <span class="Price"></span>(<span class="productPrice"></span>*<span class="productNum"></span>+<span class="postage"></span>)
                </td>
            </tr>
            <tr>
                <td>卖家昵称：</td>
                <td>
                    <span class="shopName"></span>
                </td>
            </tr>
            <tr>
                <td>成交时间：</td>
                <td><span class="payTime"></span></td>
            </tr>
            <tr>
                <td>评论：</td>
                <td><textarea id="comments"></textarea></td>
            </tr>
            <tr>
                <td>上传图片：</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="confirmPayButtonDiv confirmPay">
        <a href="javascript:void(0);" onclick="comment()"><button class="confirmPayButton">评论</button></a>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        initComment();
    });

    //初始化订单信息
    function initComment() {
        var indentItemId = $("#indentItemId").val();
        $.ajax({
            url : "/api/indentItem/" + indentItemId ,
            type : "get",
            contentType: "application/json",
            //data : JSON.stringify(cartItem),
            success : function (rs) {
                $("#productId").val(rs.object.productId);
                $("#userId").val(rs.object.userId);
                $("#indentId").val(rs.object.indentId);
                $("#shopId").val(rs.object.shopId);
                $("#indentCode").val(rs.object.indentCode);
                $(".productName").html(rs.object.productName);
                $(".productNum").html(rs.object.productNum);
                var price = rs.object.productNum * rs.object.productPrice + rs.object.postage;
                $(".Price").html(price);
                $(".productPrice").html(rs.object.productPrice);
                $(".postage").html(rs.object.postage);
                $(".shopName").html(rs.object.shopName);
                $(".payTime").html(rs.object.payTime);
            },
            error : function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }

    function comment() {
        var comment = {}
        comment.indentItemId = $("#indentItemId").val();
        comment.productId = $("#productId").val();
        comment.userId = $("#userId").val();
        comment.indentId = $("#indentId").val();
        comment.shopId = $("#shopId").val();
        comment.indentCode = $("#indentCode").val();
        comment.parentId = 0;
        comment.comments = $("#comments").val();
        $.ajax({
            url : "/api/comment" ,
            type : "post",
            contentType: "application/json",
            data : JSON.stringify(comment),
            success : function (rs) {
                if (rs.state == 200) {
                    var indentCode = $("#indentCode").val();
                    window.location.href = "/mall/indent/" + indentCode;
                } else {
                    layer.msg(data.message, {icon: 0});
                }
            },
            error : function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }

</script>