<input type="hidden" id="productId" th:value="${productId}" />
<input type="hidden" id="indentCode" th:value="${indentCode}" />
<input type="hidden" id="indentItemId" th:value="${indentItemId}" />
<input type="hidden" id="shopId" value="" />
<div class="reviewDiv">
    <div class="reviewProductInfoDiv">
        <div class="reviewProductInfoImg">
            <img id="productImage" width="400px" height="400px" src="">
        </div>
        <div class="reviewProductInfoRightDiv">
            <div class="reviewProductInfoRightText"></div>
            <table class="reviewProductInfoTable">
                <tr>
                    <td width="75px">价格:</td>
                    <td>￥<span class="reviewProductInfoTablePrice"></span>元</td>
                </tr>
                <tr>
                    <td>配送</td>
                    <td>快递:  <span class="orderPostage"></span>元</td>
                </tr>
                <tr>
                    <td>销量:</td>
                    <td><span class="orderSaleCount"></span> 件</td>
                </tr>
            </table>

            <div class="reviewProductInfoRightBelowDiv">
                <span class="reviewProductInfoRightBelowImg"><img src="/img/site/reviewLight.png"></span>
                <span class="reviewProductInfoRightBelowText" >您于<span class="orderDate"></span>下单购买了此商品 </span>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="reviewStasticsDiv">
        <div class="reviewStasticsLeft">
            <div class="reviewStasticsLeftTop"></div>
            <div class="reviewStasticsLeftContent">累计评价 <span class="reviewStasticsNumber"></span></div>
            <div class="reviewStasticsLeftFoot"></div>
        </div>
        <div class="reviewStasticsRight">
            <div class="reviewStasticsRightEmpty"></div>
            <div class="reviewStasticsFoot"></div>
        </div>
    </div>

    <div class="makeReviewDiv">
        <form method="post" action="javascript:void(0);">
            <div class="makeReviewText">其他买家，需要你的建议哦！</div>
            <table class="makeReviewTable">
                <tr>
                    <td class="makeReviewTableFirstTD">评价商品</td>
                    <td><textarea name="comments"></textarea></td>
                </tr>
            </table>
            <div class="makeReviewButtonDiv">
                <button id="reviewBtn" type="button">提交评价</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        initPageInfo();

        $("#reviewBtn").bind("click", function() {
            addComment();
        });
    });

    // 初始化页面信息
    function initPageInfo() {
        var productId = $("#productId").val();
        var indentCode = $("#indentCode").val();
        var indentItemId = $("#indentItemId").val();

        $.ajax({
            url : "/mall/product/" + productId,
            type : "get",
            success : function (rs) {
                console.log(rs)
                // $("#productImage").attr("src", rs.bigPictures.length == 0 ? "" : rs.bigImages[0].src);
                $(".reviewProductInfoRightText").html(rs.productName);
                $(".reviewProductInfoTablePrice").html(rs.productPrice);
                // $(".orderSaleCount").html(rs.saleCount);
                $(".reviewStasticsNumber").html(rs.commentCount);
            },
            error : function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });

        $.ajax({
            url : "/api/indentItem/" + indentItemId,
            type : "get",
            success : function (rs) {
                console.log(rs)
                $(".orderPostage").html(rs.object.postage);
                $(".orderDate").html(rs.object.createTime);
                $("#shopId").val(rs.shopId);
            },
            error : function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }

    // 添加评论
    function addComment() {
        var comment = {};
        comment.userId = $("#userId").val();
        comment.productId = $("#productId").val();
        comment.indentItemId = $("#indentItemId").val();
        comment.shopId = $("#shopId").val();
        comment.parentId = 0;
        comment.comments = $("[name=comments]").val();

        $.ajax({
            url : "/api/comment",
            type : "post",
            contentType: "application/json",
            data : JSON.stringify(comment),
            success : function (rs) {
                if (rs.state == 200) {
                    checkOrderViews();
                } else {
                    layer.msg(rs.message, {icon: 0});
                }
            },
            error : function (rs) {
                layer.msg(rs.responseText, {icon: 0});
            }
        });
    }

    // 检查订单评论，若所有商品已经评论，则修改订单状态
    function checkOrderViews() {
        var indentCode = $("#indentCode").val();
        $.ajax({
            url : "/api/indentItem/noneCommentItems/" + indentCode,
            type : "get",
            success : function (rs) {
                if (rs.length > 0) {
                    bootbox.confirm("是否继续评价？", function(result) {
                        if(result) {
                            location.href = "/mall/comment/" + rs[0].indentCode + "/" + rs[0].productId + "/" +rs[0].indentItemId;
                        } else {
                            location.href = "/mall/indents";
                        }
                    });
                } else {
                    changeOrderStatus(indentCode, 4, "/mall/indents");
                }
            },
            error : function (rs) {
                layer.msg(rs.responseText, {icon: 0});
            }
        });
    }
</script>