<input type="hidden" id="productId" th:value="${productId}"/>

<div class="categoryPictureInProductPageDiv">
    <input type="hidden" id="produc" value="" />
    <img id="produ" class="productPictureInProductPage" src="" />
</div>

<div class="productPageDiv">
    <div th:replace="mall/product-imgAndInfo.html"></div>

    <div class="productDetailDiv" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#productDetailDiv" id="home-tab" role="tab" data-toggle="tab"
                   aria-expanded="true">商品详情</a>
            </li>
            <li role="presentation" class="">
                <a href="#productReviewDiv" role="tab" id="profile-tab" data-toggle="tab"
                   aria-expanded="false">累计评价<span class="productReviewTopReviewLinkNumber"></span></a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div th:replace="mall/product-comments.html"></div>
            <div th:replace="mall/product-detail.html"></div>
        </div>
    </div>
</div>

