<input type="hidden" id="productId" th:value="${productId}"/>

<div class="categoryPictureInProductPageDiv">
    <input type="hidden" id="produc" value="" />
    <img id="picture" class="productPictureInProductPage" src="" />
</div>

<div class="productPageDiv">
    <div th:replace="mall/product-imgAndInfo.html"></div>

    <div class="productDetailDiv" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#productDetailDiv" id="home-tab" role="tab" data-toggle="tab"
                   aria-expanded="true">商品详情</a>
            </li>
            <li role="presentation" class="">
                <a href="#productReviewDiv" role="tab" id="profile-tab" data-toggle="tab"
                   aria-expanded="false">累计评价<span class="productReviewTopReviewLinkNumber"></span></a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div th:replace="mall/product-comments.html"></div>
            <div th:replace="mall/product-detail.html"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        initProductInfo();

        $(".addCartButton").bind("click", function() {
            addCartEvent();
        });
        $(".buyButton").bind("click", function() {
            buyEvent();
        });
    });

    // 初始化产品信息
    function initProductInfo() {
        var productId = $("#productId").val();
        $.ajax({
            url : "/mall/product/" + productId,
            type : "get",
            contentType: "application/json",
            //data : JSON.stringify(searchVo),
            success : function (data) {
                // 初始化产品信息
                $("#categoryId").val(data.categoryId);
                $(".productTitle").html(data.productName);
                $(".promotionPrice").html(data.productPrice);
                $("[name='saleCount']").html(data.saleCount);
                $("[name='reviewCount']").html(data.reviewCount);
                $("[name='number']").html(data.productNum);
                $("#discount").text(data.discount);

                // 初始化 category 图片信息
               // initCategory();

               /* // 初始化产品图片框和鼠标移动事件
                var smallImages = "";

                $(".smallImageDiv").html(smallImages);
                $("img.bigImg").attr("src", data.pictureUrl.src);
                // $("img.bigImg").attr("src", data.bigImages[0].src);
                $("img.smallImage").mouseenter(function(){
                    var productUrl = $(this).attr("productUrl");
                    $("img.bigImg").attr("src", productUrl);
                });

                // 初始化数量框事件
                initCountEvent(data.productNum);

                // 初始化产品详情页面
                var properties = "";
                $.each(data.productProperties, function(i, item){
                    properties += "<span>" + item.propertyKey + ": " + item.propertyValue + "</span>";
                });
                $(".productParamterList").html(properties);
                var detailImages = "";
                $.each(data.detailImages, function(i, item){
                    detailImages += "<img src="  + item.src + ">";
                });
                $(".productDetailImagesPart").html(detailImages);

                $(".productReviewContentPart").html(reviews);*/
            },
            error : function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }

    // 初始化数量框事件
    function initCountEvent(stock) {
        $(".productNumberSetting").keyup(function() {
            var num = $(".productNumberSetting").val();
            num = parseInt(num);
            if(isNaN(num))
                num = 1;
            if(num <= 0)
                num = 1;
            if(num > stock)
                num = stock;
            $(".productNumberSetting").val(num);
        });
        $(".increaseNumber").click(function(){
            var num= $(".productNumberSetting").val();
            num++;
            if(num > stock)
                num = stock;
            $(".productNumberSetting").val(num);
        });
        $(".decreaseNumber").click(function(){
            var num= $(".productNumberSetting").val();
            --num;
            if(num<=0)
                num=1;
            $(".productNumberSetting").val(num);
        });
    }*/
//初始化详情页图片
    initPictures();
    function initPictures() {
    }

    // 检查用户登录状态
    // function checkUser() {
    //     if ($("#userId").val() == "")　{
    //         location.href = "/tmall/login";
    //     }
    // }

    // 添加购物车事件
    function addCartEvent() {

        var shoppingCarItems = {};

        shoppingCarItems.productId = $("#productId").val();
        shoppingCarItems.productName = $(".productTitle").html();
        shoppingCarItems.productPrice = $(".promotionPrice").html();
        shoppingCarItems.discount=$("#discount").html();
        shoppingCarItems.number = $(".productNumberSetting").val();
        shoppingCarItems.image = $(".smallImage").attr("src");
        shoppingCarItems.stock = $("[name='number']").html();

        $.ajax({
            url : "/shoppingCar/add",
            url : "/api/pictures",
            type : "post",
            contentType: "application/json",
            data : JSON.stringify(shoppingCarItems),
            success : function (data) {
                layer.msg(data.message, {icon: 0});
            },
            error : function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }

    // 立即购买事件
    function buyEvent() {
        // checkUser();

        var cartItem = {};
        cartItem.productId = $("#productId").val();
        cartItem.productName = $(".productTitle").html();
        cartItem.originalPrice = $(".originalPrice").html();
        cartItem.promotePrice = $(".promotionPrice").html();
        cartItem.number = $(".productNumberSetting").val();
        cartItem.total = cartItem.promotePrice * cartItem.number;
        cartItem.image = $(".smallImage").attr("src");
        cartItem.stock = $("[name='number']").html();
        cartItem.checked = true;

        $.ajax({
            url : "/api/redis/cartItem",
            type : "post",
            contentType: "application/json",
            data : JSON.stringify(cartItem),
            success : function (data) {
                window.location.href = "/tmall/buy";
                var pictures = "";
                $.each(data.list, function(i, item){
                    pictures += "<div class='imgInimgAndInfo'>";
                    pictures += "<img width='100px' class='bigImg' src='" + item.pictureUrl + "'>";
                    pictures += "<div class='smallImageDiv'>";
                    pictures += "</div>";
                    pictures += "</div>";
                });
                products += "<div style='clear: both'></div>";
                $("[class=productDetailImagesPart]").html(pictures);
            },
            error : function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }


   function addCollection(){
           var productId=$("#productId").val();
           console.log(productId);
       $.ajax({
           url : "/collection/add/"+productId,
           type : "post",
           success : function (data) {
               alert(data.message);
           },
           error : function (data) {
               alert(data.message);
           },
       });




   }


</script>
