<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form>
                <h1>商城用户登录</h1>
                <div>
                    <input type="text" class="form-control" placeholder="Username" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Password" required="" />
                </div>
                <div>
                    <a class="btn btn-default submit" href="javascript:void(0);">登录</a>
                    <a class="reset_pass" href="#">   忘记密码?</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">没有账号?
                        <a href="/manager/register" class="to_register"> 创建账号 </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                        <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<script>
    layui.use(['form'], function() {
        $ = layui.jquery;
        var form = layui.form(),
            layer = layui.layer;

        //用户密码提交
        form.on('submit(Login)', function(data){
            $.ajax({
                url:"/account/login",
                type:"post",
                data:data.field,
                dataType:"json", //返回类型
                success:function(data){

                    layer.alert(data.info);
                    if(data.info=="登录成功"){
                        //访问主页面
                        location.href="/account/index"
                    }
                }
            })
            return false;
        });
    });
</script>
