
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>淘宝贝商城用户登录</h1>
                    <div>
                        <input name="userName" type="text" class="form-control" placeholder="Username" required="" />
                    </div>
                    <div>
                        <input name="password" type="password" class="form-control" placeholder="Password" required="" />
                    </div>

                    <div>
                        <a id="loginButton" class="btn btn-default submit" href="javascript:void(0);">登 录</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">没有账号?
                            <a href="/shopping/register" class="to_register"> 注册账号 </a>
<!--                            <a href="/manager/register" class="to_register"> 注 册 </a>-->
                        </p>

                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <h1><i class="fa fa-paw"></i> 淘宝贝商城!</h1>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>



<script type="text/javascript">
    // var show_num = [];
    $(document).ready(function() {
        // draw(show_num);
        // $("#canvas").on('click',function(){
        //     draw(show_num);
        // })

        $("#loginButton").bind("click", function() {
            login();
        });
    });

    //密码登录
    function login() {
        var user = {};
        user.userName = $("[name='userName']").val();
        user.password = $("[name='password']").val();
        $.ajax({
            url : "/shopping/pwdLogin",
            type : "post",
            contentType: "application/json",
            data : JSON.stringify(user),
            success : function (data) {
                if (data.state == 200) {
                    location.href = "/mall/index";
                } else {
                    layer.msg(data.message, {icon: 0});
                }
            },
            error : function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }
</script>
