<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="cartFoot">

    <div class="pull-left">
        <button onclick="deleteAll()" style="background-color: #ac2925">批量删除</button>
        <button onclick="clearAll()" style="background-color: #ac2925">清空购物车</button>
    </div>
</div>

<div class="cartProductList">
    <table class="cartProductTable">
        <thead>
        <tr>
            <th class="selectAndImage">
                <input type="checkbox" id="checks" name="selectAllItem">全选
            </th>
            <th>产品名</th>
            <th>产品价格</th>
            <th>库存</th>
            <th>折扣</th>
            <th>购买数量</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>

<div class="cartFoot">
    <div class="pull-right">
        <span>1</span>
        <span>总数:</span>
        <span id="total">0</span>件
        <span>合计 (不含运费): </span>
        ￥<span class="cartSumPrice" id="summation">0.00</span>
        <button class="createOrderButton" onclick="buy()" style="background-color: #ac2925">购买
        </button>
    </div>
</div>
</body>
<script src="/plugin/jquery/dist/jquery.js"></script>
<script>

    $(function () {
        // 初始化购物车页面
        initCart();
    });

    //初始化购物车信息
    function initCart() {
        var userId = 1;

        $.ajax({
            url: "/shoppingCar/show/" + userId,
            type: "get",
            contentType: "application/json",
            //data : JSON.stringify(searchVo),
            success: function (data) {
                // 生成购物车列表
                $(".cartProductTable tbody").html("");
                var temp = "";
                $.each(data, function (i, product) {
                    temp += "<tr productId='" + product.productId + "' stock='" + product.stock + "' class='cartProductItemTR'>";
                    temp += "<input type='hidden' id='productId' value='" + product.productId + "'> ";
                    temp += "<td>";
                    temp += "<input type='checkbox' id='check' name='check' productId='" + product.productId + "'shoppingCarItemsId ='"+product.shoppingCarItemsId+
                        "' productName='"+product.productName +"' productPrice='" + product.productPrice + "'  discount='" + product.discount +
                        "' onclick='checkone()'  />";temp += "</td>";
                    temp += "<td><a href='/categories.html'> <img src='/img/lunbo/1.jpg' width='100px' height='100px'> ";
                    temp += product.productName;
                    temp += "</a> </td>";
                    temp += "<td>";
                    temp += product.productPrice;
                    temp += "</td>";
                    temp += "<td>";
                    temp += product.stock;
                    temp += "</td>";
                    temp += "<td>";
                    temp += product.discount;
                    temp += "</td>";
                    temp += "<td>";
                    temp += "<button productId= '" + product.productId + "' stock='" + product.stock + "' discount='" + product.discount + "' productPrice='" + product.productPrice + "'  onclick='add(this)'> +";
                    temp += "</button>";
                    temp += "<input type='text' value='" + product.number + "'  productId='" + product.productId + "' stock='" + product.stock + "'  name='num' style='width: 30px' class='orderItemNumberSetting'onkeyup='changeNum(this)' />";
                    temp += "<button productId= '" + product.productId + "' stock='" + product.stock + "' discount='" + product.discount + "' productPrice='" + product.productPrice + "'  onclick='sub(this)'>-";
                    temp += "</button>";
                    temp += "</td>";
                    temp += "<td>";
                    temp += "<button productId='" + product.productId + "' onclick='deleteOne(this)' >删除</button>";
                    temp += "</td>";
                    temp += "<td>";
                    temp += "移至收藏夹"
                    temp += "</td>";
                    temp += "</tr>";
                });
                $(".cartProductTable tbody").append(temp);

                calcCartSumPriceAndNumber();
            },
            error: function () {
                layer.msg("初始化页面错误");
            }
        });
    }

    /**
     * 全选或全不选
     */
    document.getElementById("checks").onclick = function () {
        var checked = document.getElementById("checks").checked;
        var checkson = document.getElementsByName("check");
        if (checked) {
            for (var i = 0; i < checkson.length; i++) {
                checkson[i].checked = true;
            }
        } else {
            for (var i = 0; i < checkson.length; i++) {
                checkson[i].checked = false;
            }
        }
        calcCartSumPriceAndNumber();
    }

    /**
     * 单选
     */
    function checkone() {
        calcCartSumPriceAndNumber();
    }


    // 计算购物车
    function calcCartSumPriceAndNumber() {

        var sum = 0;
        var totalNumber = 0.0;
        $("[name=check]:checked").each(function () {

            var pid = $(this).attr("productId");
            var productPrice = $(this).attr("productPrice");
            var discount = $(this).attr("discount");
            var num = $(".orderItemNumberSetting[productId=" + pid + "]").val();

            sum += new Number(productPrice * discount * num);
            totalNumber += new Number(num);

        });
        //购物车总数和总价
        $("#total").text(totalNumber);
        $("#summation").text(sum.toFixed(2));

    }

    /**
     * 批量删除
     */
    function deleteAll() {
        var ids = [];
        // 获取选中的id
        $("[name=check]:checked").each(function (idx, element) {
            ids.push($(element).attr("productId"));
        });

        if (window.confirm("您确认要删除选中的产品吗？")) {
            $.ajax({
                url: "/shoppingCar/delete",
                type: "delete",
                contentType: "application/json",
                //dataType: "json",
                data: JSON.stringify(ids),
                success: function (data) {
                    if (data.state == 200) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            })
        }


    }

    /**
     * 删除一个数据
     */
    function deleteOne(deleteBtn) {
        var productId = $(deleteBtn).attr("productId");

        if (window.confirm("您确认要删除选中的内容吗？")) {
            $.ajax({
                url: "/shoppingCar/delete-one/" + productId,
                type: "delete",
                // contentType: "application/json",
                // data: JSON.stringify(productId),
                success: function (data) {
                    if (data.state == 200) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            })
        }

    }

    /**
     * 清空购物车
     */
    function clearAll() {
        if (window.confirm("您确认要清空购物车吗")) {

            $.ajax({
                url: "/shoppingCar/clear",
                type: "delete",
                // contentType: "application/json",
                // data: JSON.stringify(productId),
                success: function (data) {
                    if (data.state == 200) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            })
        }

    }


    /**
     * 购买数量加1
     */
    function add(numberPlus) {

        var pid = $(numberPlus).attr("productId");
        var stock = $(numberPlus).attr("stock");
        var number = $(".orderItemNumberSetting[productId=" + pid + "]").val();

        number++;

        if (number > stock) {
            number = stock;
        }
        $(".orderItemNumberSetting[productId=" + pid + "]").val(number);

        calcCartSumPriceAndNumber();
    }

    /**
     * 购买数量减1
     */
    function sub(numberPlus) {
        var pid = $(numberPlus).attr("productId");
        var number = $(".orderItemNumberSetting[productId=" + pid + "]").val();
        number--;
        if (number <= 0) {
            number = 1;
        }
        $(".orderItemNumberSetting[productId=" + pid + "]").val(number);
        calcCartSumPriceAndNumber();
    }


    /**
     * 修改数量
     */
    function changeNum(putNum) {
        var pid = $(putNum).attr("productId");
        var stock = $(putNum).attr("stock");
        var number = $(".orderItemNumberSetting[productId=" + pid + "]").val();

        number = parseInt(number);
        if (isNaN(number)) {
            number = 1;
        }
        if (number <= 0) {
            number = 1;
        }

        if (number > stock) {
            number = stock;

        }

        $(".orderItemNumberSetting[productId=" + pid + "]").val(number);

        calcCartSumPriceAndNumber();
    }

    /**
     * 购买产品
     */
    function buy() {
        var products=[];

        $("[name=check]:checked").each(function () {
            var product={};
            productId= $(this).attr("productId");
            product.productId=productId;
            product.productName = $(this).attr("productName");
            product.productPrice = $(this).attr("productPrice");
            product.discount = $(this).attr("discount");
            product.num = $(".orderItemNumberSetting[productId=" + productId + "]").val();
            products.push(product);
        });
        alert(JSON.stringify(products));
        // $.ajax({
        //     url: "/shoppingCar/clear",
        //     type: "delete",
        //     // contentType: "application/json",
        //     // data: JSON.stringify(productId),
        //     success: function (data) {
        //         if (data.state == 200) {
        //             alert(data.message);
        //             window.location.reload();
        //         } else {
        //             alert(data.message);
        //         }
        //     }
        // })


    }
</script>
</html>