<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 引入css -->
    <link th:href="${'/plugin/bootstrap/dist/css/bootstrap.min.css'}" rel="stylesheet"/>
    <link th:href="${'/manager/css/style.css'}" rel="stylesheet"/>

    <!-- 引入js -->
    <!-- jQuery -->
    <script th:src="${'/plugin/jquery/dist/jquery.min.js'}" type="text/javascript"></script>
    <!-- bootstrap -->
    <script th:src="${'/plugin/bootstrap/dist/js/bootstrap.min.js'}" type="text/javascript"></script>
    <!-- layer -->
    <script th:src="@{https://cdn.bootcss.com/layer/2.1/layer.js}" type="text/javascript"></script>
    <!-- 删除确认框-->
    <script th:src="${'/manager/js/bootbox.js'}" type="text/javascript"></script>
    <!-- custom -->
    <script th:src="${'/manager/js/custom.js'}" type="text/javascript"></script>

</head>
<body>
<!-- header -->
<div th:replace="/fragment/mallHeader"></div>
<div th:replace="/fragment/mallSearch"></div>

<div class="cartFoot">

    <div class="pull-left">
        <button onclick="deleteAll()">批量删除</button>
        <button onclick="clearAll()">清空购物车</button>
    </div>
</div>


<div class="cartProductList">
    <table class="cartProductTable">
        <thead>
        <tr>
            <th class="selectAndImage"><input type="checkbox" id="checks" name="selectAllItem">全选</th>
            <th>产品名</th>
            <th>产品价格</th>
            <th>库存</th>
            <th>折扣</th>
            <th>购买数量</th>
            <th colspan="2">操作</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product:${productList}">
            <input type="hidden" id="productId" th:value="${product.productId}">
            <td><input id="check" type="checkbox" name="check" th:productId="${product.productId}"
                       th:discount="${product.discount}" th:productPrice="${product.productPrice}" onclick="checkone()">
            </td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.stock}"></td>
            <td th:text="${product.discount}"></td>
            <td>
                <button th:productId="${product.productId}" th:stock="${product.stock}"
                        th:discount="${product.discount}"
                        th:productPrice="${product.productPrice}" onclick="add(this)">+
                </button>
                <input type="text" th:value="${product.number}" th:productId="${product.productId}"
                       th:stock="${product.stock}" name="num" style="width: 30px" class='orderItemNumberSetting'
                       onkeyup="changeNum(this)"/>
                <button th:productId="${product.productId}" th:stock="${product.stock}"
                        th:discount="${product.discount}" th:productPrice="${product.productPrice}" onclick="sub(this)">-
                </button>
            </td>
            <td>移至收藏夹</td>
            <td>
                <button th:productId="${product.productId}" onclick="deleteOne(this)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="cartFoot">
    <div class="pull-right">
<span>1</span>
        <span>总数:</span>
        <span id="total">0</span>件
        <span>合计 (不含运费): </span>
        <span class="cartSumPrice" id="summation">￥0.00</span>
        <button class="createOrderButton" disabled="disabled">购买</button>
    </div>
</div>

<!-- footer -->
<div th:replace="/fragment/mallFooter"></div>
</body>
<script src="/plugin/jquery/dist/jquery.js"></script>
<script>

    $(function () {
        // 绑定结算事件
        $(".createOrderButton").bind("click", function () {
            settlementBtnEvent();
        });
    });


    /**
     * 全选或全不选
     */
    document.getElementById("checks").onclick = function () {
        var checked = document.getElementById("checks").checked;
        var checkson = document.getElementsByName("check");
        if (checked) {
            for (var i = 0; i < checkson.length; i++) {
                checkson[i].checked = true;
            }
        } else {
            for (var i = 0; i < checkson.length; i++) {
                checkson[i].checked = false;
            }
        }
        calcCartSumPriceAndNumber();
    }

    /**
     * 单选
     */
    function checkone() {
        calcCartSumPriceAndNumber();
    }


    // 计算购物车
    function calcCartSumPriceAndNumber() {

        var sum = 0;
        var totalNumber = 0.0;
        $("[name=check]:checked").each(function () {

            var pid = $(this).attr("productId");
            var productPrice = $(this).attr("productPrice");
            var discount = $(this).attr("discount");
            var num = $(".orderItemNumberSetting[productId=" + pid + "]").val();

            sum += new Number(productPrice * discount * num);
            totalNumber += new Number(num);

        });
        //购物车总数和总价
        $("#total").text(totalNumber);
        $("#summation").text(sum.toFixed(2));

    }

    /**
     * 批量删除
     */
    function deleteAll() {
        var ids = [];
        // 获取选中的id
        $("[name=check]:checked").each(function (idx, element) {
            ids.push($(element).attr("productId"));
        });

        if (window.confirm("您确认要删除选中的产品吗？")) {
            $.ajax({
                url: "/shoppingCar/delete",
                type: "delete",
                contentType: "application/json",
                //dataType: "json",
                data: JSON.stringify(ids),
                success: function (data) {
                    if (data.state == 200) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            })
        }


    }

    /**
     * 删除一个数据
     */
    function deleteOne(deleteBtn) {
        var productId = $(deleteBtn).attr("productId");

        if (window.confirm("您确认要删除选中的内容吗？")) {
            $.ajax({
                url: "/shoppingCar/delete-one/" + productId,
                type: "delete",
                // contentType: "application/json",
                // data: JSON.stringify(productId),
                success: function (data) {
                    if (data.state == 200) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            })
        }

    }

    /**
     * 清空购物车
     */
    function clearAll() {
        if (window.confirm("您确认要清空购物车吗")) {

            $.ajax({
                url: "/shoppingCar/clear",
                type: "delete",
                // contentType: "application/json",
                // data: JSON.stringify(productId),
                success: function (data) {
                    if (data.state == 200) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            })
        }

    }


    /**
     * 购买数量加1
     */
    function add(numberPlus) {

        var pid = $(numberPlus).attr("productId");
        var stock = $(numberPlus).attr("stock");
        var number = $(".orderItemNumberSetting[productId=" + pid + "]").val();

        number++;

        if (number > stock) {
            number = stock;
        }
        $(".orderItemNumberSetting[productId=" + pid + "]").val(number);

        calcCartSumPriceAndNumber();
    }

    /**
     * 购买数量减1
     */
    function sub(numberPlus) {
        var pid = $(numberPlus).attr("productId");
        var number = $(".orderItemNumberSetting[productId=" + pid + "]").val();
        number--;
        if (number <= 0) {
            number = 1;
        }
        $(".orderItemNumberSetting[productId=" + pid + "]").val(number);
        calcCartSumPriceAndNumber();
    }


    /**
     * 修改数量
     */
    function changeNum(putNum) {
        var pid = $(putNum).attr("productId");
        var stock = $(putNum).attr("stock");
        var number = $(".orderItemNumberSetting[productId=" + pid + "]").val();

        number = parseInt(number);
        if (isNaN(number)) {
            number = 1;
        }
        if (number <= 0) {
            number = 1;
        }

        if (number > stock) {
            number = stock;

        }

        $(".orderItemNumberSetting[productId=" + pid + "]").val(number);

        calcCartSumPriceAndNumber();
    }


</script>
</html>